<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Variety</th>
        <th>Type</th>
        <th>Growth Time</th>
        <th>Plant Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="crop in vm.crops">
        <td>{{crop.name}}</td>
        <td>{{crop.variety}}</td>
        <td>{{crop.type}}</td>
        <td>{{crop.growthTime}}</td>
        <td>{{crop.plantDate}}</td>
        <td><button ng-click="vm.edit(crop.id)" class="btn btn-primary"><i class="fa fa-pencil"></i></button></td>
    </tr>
    </tbody>
</table>